<!-- show.html.erb -->
<p>
  <strong>INGREDIENT:</strong>
  <%= @ingredient.title %>
</p>

<p>
  <strong>GROCERY:</strong>
  <%= @ingredient.grocery_item %>
</p>

<p>
  <%= link_to 'Edit', edit_ingredient_path(@ingredient) %> | <%= link_to 'Delete', ingredient_path(@ingredient), method: :delete, data: { confirm: 'Click OK to delete this ingredient'} %>
</p>